.ant-collapse-header {
  .arrow {
    transition: $ant-collapse-arrow-transition-time;
  }
}
// 嵌套包裹的 spin
.ant-spin-nested-loading {
  height: 100%; //继承高度
  .ant-spin-container {
    height: 100%; //继承高度
  }
  &.container-flex-column {
    .ant-spin-container {
      @include flex-column();
    }
  }
}
// collapse header no pointer
.ant-collapse-item {
  &.header-cursor-auto {
    .ant-collapse-header {
      cursor: auto;
    }
  }
}
